body {
  margin: 0;
  padding: 0;
  background: #000;
  color: #fff;
  text-align: center;
}

.special {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 100px;
  height: 16vh;
  width: fit-content;
  text-align: center;
  line-height: 16vh;
  font-size: 10vh;
  letter-spacing: 10px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bolder;
  box-sizing: border-box;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 8vh;
  z-index: 1;
  cursor: pointer;
  animation: animate 8s linear infinite;
}

.special:before {
  content: "";
  position: absolute;
  top: -30px;
  left: -30px;
  right: -30px;
  bottom: -30px;
  z-index: -1;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 80px;
  filter: blur(80px);
  animation: animate 8s linear infinite;
}

@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

.special span:last-child {
  animation: animate_span 1s linear;
}


@keyframes animate_span {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.day {
  font-size: 12vh;
  margin-top: 10vh;
  letter-spacing: 2vh;
}

.time {
  font-size: 20vh;
  margin-top: 40vh;
  letter-spacing: 2vh;
}